.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item:not(:last-child) {
    margin-right: 30px;
}

.item .features-icon {
    background-color: var(--portfolio-buttons-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
}

.features-icon .icon {
    width: 270px;
    margin: 0 auto;
}

.features-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.features-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}