.page-footer {
    padding: 60px 0;
    background-color: var(--hero-footer-background);
}


.footer-address {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
}

.footer-contacts-list {
    margin-top: 9px;
}

.footer-contacts-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
    color: var(--main-accent-color);
}
.social-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
}

.footer-section {
    display: flex;
    align-items: baseline;
}

.address-section {
    margin-right: 70px;
    width: 231px;
}