.our-work__list {
    display: flex;
    & .our-work__item {
        flex-basis: calc((100% - 90px) / 3);
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.our-work__img-wrapper {
    position: relative;
}

.our-work__img-wrapper-item {
    width: 100%;
    height: 70px;
    padding: 27px 80px;
    @include font(700, 14px, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
    background: rgba(47, 48, 58, 0.8);
    transform: translateY(-100%);
}