.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    @include font(bold, 36px, 42px);
    letter-spacing: 0.03em;
    text-align: center;
}
.portfolio-btn {
    display: flex;
    justify-content: center;

    & .portfolio-btn__list:not(:last-child) {
        margin-right: 8px;
    }
}

.portfolio-btn__item {
    display: inline-block;
    min-width: 73px;
    padding: 6px 22px;
    font-family: inherit;
    @include font(500, 16px, 26px);
    letter-spacing: 0.03em;
    text-align: center;
    background-color: var(--portfolio-buttons-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover,
    &:focus {
        color: var(--main-light-color);
        background-color: var(--main-accent-color);
        border-radius: 4px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.active {
    color: var(--main-light-color);
    background-color: var(--main-accent-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-ul {
    margin-top: 0;
    margin-bottom: 50px;
}
.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    & .item:nth-child(3n) {
        margin-right: 0;
    }
    & .item:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.portfolio-card__list {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 90px) / 3);
    background: var(--main-light-color);
    &.item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }
}

.portfolio-card__overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-card__overlay-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    @include font(400, 18px, 28px);
    letter-spacing: 0.03em;
    color: var(--main-light-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    .portfolio-card__link:hover &,
    .portfolio-card__link:focus & {
        transform: translateY(0%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-card__link {
    display: block;
    text-decoration: none;
}

.portfolio-card__wrapper {
    padding: 20px 24px;
    border: 1px solid var(--portffolio-background);
    border-top: none;
}

.portfolio-card__title {
    margin-top: 0;
    margin-bottom: 4px;
    @include font(700, 18px, 36px);
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-card__description {
    @include font(400, 16px, 30px);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}