.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(50%, -50%) scale(0.1);
}

.backdrop {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    transform: translate(50%, -50%) scale(1);
    width: 528px;
    right: 50%;
    top: 50%;
    background: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover,
.modal-icon-close:focus {
    fill: var(--secondary-accent-color);
}
.contact-form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.contact-form-wrapper {
    padding: 40px;
    text-align: left;
}

.contact-form-input {
    width: 100%;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus,
.contact-form-input:hover {
    border: 1px solid var(--main-accent-color);
    outline: none;
}

.contact-form-input-message {
    width: 100%;
    height: 118px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: none;
}

.contact-form-input-message:focus,
.contact-form-input-message:hover {
    border: 1px solid var(--main-accent-color);
}

.contact-form-input-message::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.confirmation-wrapper {
    text-align: center;
}

.contact-form-confirm {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.contact-form-confirm::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid var(--main-text-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:focus+.contact-form-confirm::before,
.contact-form-checkbox:hover+.contact-form-confirm::before {
    border: 2px solid var(--main-accent-color);
    border-radius: 4px;
}

.contact-form-checkbox:checked+.contact-form-confirm::before {
    background-image: url(../images/icon-check.svg);
    border: 0px;
}

.contact-form-confirm-link {
    color: var(--main-accent-color);
}

.contact-form-btn {
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contact-form-btn:focus,
.contact-form-btn:hover {
    background-color: var(--secondary-accent-color);
}

.contact-form-type {
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.contact-form-input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.contact-form-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus+.contact-form-icon,
.contact-form-input:hover+.contact-form-icon {
    fill: var(--main-accent-color);
}