.contact-form-footer {
  margin-left: 93px;
}
.contact-form-footer-wrapper {
  display: flex;
}
.contact-form-news {
  width: 358px;
  height: 48px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}
.contact-form-news::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-form-news-btn-wrapper {
  position: relative;
}
.contact-form-news-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: var(--main-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  padding: 10px 28px;
  cursor: pointer;
}
.news-btn-icon {
  margin-left: 10px;
}