.button-list {
    display: flex;
    justify-content: center;
}

.button-list .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button {
    display: inline-block;
    font-family: inherit;
    min-width: 73px;
    padding: 6px 22px;
    background-color: var(--portfolio-buttons-color);
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.active {
    color: var(--main-light-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--main-light-color);
    background-color: var(--main-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}