body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
address {
    font-style: normal;
}   
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}