:root {
    --main-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --portfolio-buttons-color: #f5f4fa;
    --main-light-color: #ffffff;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --hero-footer-background: #2f303a;
    --portffolio-background: #eeeeee;
    --hero-overlay: rgba(47, 48, 58, 0.4);
    --header-border-bottom: #ececec;
    --logo-dark-color: #000000;
    --team-social-icons: #afb1b8;
}